@charset "utf-8";
@import url("./font/font.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
ol,
li {
    list-style: none;
}
a {
    color: #191919;
    text-decoration: none;
}
img {
    vertical-align: top;
    border: 0;
}
html {
    font-size: 12px;
}
body {
    font-size: 12px;
    font-family: Poppins, Pretendard, verdana, gulim, dotum;
    line-height: 1;
    font-weight: 400;
    color: #131313;
    word-break: keep-all;
    letter-spacing: normal;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #131313;
}

body::-webkit-scrollbar-track {
    background-color: #fafafa;
}

.wrap {
    position: relative;
    display: block;
}
.inner {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100px;
    z-index: 999999;
}
.header .inner {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    height: 100%;
    padding: 0 8.33%;
    padding-top: 60px;
    transition: padding-top 0.3s;
    background-color: pink;
}
.header .inner.active {
    padding-top: 40px;
}
.logo {
}
.nav {
    display: flex;
    justify-content: flex-end;
    gap: 0 50px;
    padding-bottom: 20px;
}

.gnb {
    display: flex;
    align-items: center;
    gap: 0 50px;
}
.gnb > li {
}
.gnb > li > a {
    font-size: 18px;
    font-weight: 600;
    color: #131313;
    line-height: 40px;
    letter-spacing: -1px;
}
.gnb > li > a > span {
    position: relative;
}
.gnb > li > a > span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -10px;
    display: block;
    width: 0;
    height: 3px;
    background: #000;
    transition: width 0.3s;
}
.gnb > li > a:hover > span::after {
    width: 100%;
}

.nav-mb {
    position: relative;
    cursor: pointer;
    border: none;
    background: transparent;
    font-size: 0;
    width: 40px;
    height: 39px;
    padding: 10px;
    margin-top: -10px;
}
.nav-mb i {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.nav-mb i::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
}

.nav-mb i::after {
    content: "";
    position: absolute;
    right: 0;
    top: 100%;
    display: block;
    width: 50%;
    height: 3px;
    background: #000;
    transition: width 0.3s;
}

.nav-mb:hover i::after {
    width: 100%;
}

.nav-mb i span {
    position: absolute;
    left: 0;
    top: calc(50% - 1px);
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
}
.mb-wrap {
    position: relative;
    display: block;
    width: 100%;
    height: calc(100vh - 100px);
    margin: 0 auto;
    background: #fff;
}
.mb-inner {
    display: flex;
    justify-content: space-between;
    padding: 7.14% 0;

    width: 100%;
    max-width: 1280px;
    height: 100%;
    margin: 0 auto;
}
.gnb-mb {
}
.gnb-mb li {
}
.gnb-mb li a {
    position: relative;
    display: inline-block;
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: -1px;
    color: transparent;
    -webkit-text-stroke: 1px #131313;
    text-stroke: 1px #131313;
}
.gnb-mb li a:hover {
    color: #131313;
}
.gnb-mb li a::after {
    content: "";
    position: absolute;
    left: calc(100% + 15px);
    top: 55px;
    width: 0;
    height: 12px;
    background: #131313;
    transition: 0.2s;
}
.gnb-mb li a:hover::after {
    width: 30px;
}

.gnb-mb-etc {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100%;
}
.gnb-mb-txt {
    width: 100%;
    text-align: right;
}
.gnb-mb-sn {
    width: 100%;
}

.visual {
    position: relative;
    display: block;
}
.about {
    position: relative;
    display: block;
}
.effect {
    position: relative;
    display: block;
}
.brand {
    position: relative;
    display: block;
}
.location {
    position: relative;
    display: block;
}
.footer {
    position: relative;
    display: block;
}
.footer .inner {
}
